<div class="container">
  <div class="d-flex flex-row-reverse bd-highlight mb-2">
    <div class="p-2 bd-highlight">
      <select (change)="onTableSizeChange($event)" class="custom-select">
        <option *ngFor="let size of tableSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>SHA</th>
        <th>Message</th>
        <th>Committer Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index" [class.active]="i == currentIndex">
        <th scope="row">{{post?.sha}}</th>
        <td>{{post?.commit?.message}}</td>
        <td>{{post?.commit?.committer?.date | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls 
      responsive="true" 
      previousLabel="Prev" 
      nextLabel="Next" 
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>

</div>